source_up

SCRIPT_HOME="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
cd $SCRIPT_HOME

export KANBAN_HOME=$SCRIPT_HOME
export DATABASE_URL=postgres://localhost/kanban_development?sslmode=disable
