source_up

SCRIPT_HOME="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

export DATABASE_URL=postgres://localhost/kanban_development?sslmode=disable

export KANBAN_HOME=$SCRIPT_HOME

export PASSWORD_SALT=493871d6577b34f24d2798e7234b7885

export PORT=9080
